*{margin:0;padding:0;box-sizing:border-box}
ul{list-style:none}
ul,ol,li{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
button{border:none;outline:none}
a{margin:0;padding:0;border:0;text-decoration:none;outline:none;border:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
input,select,textarea{vertical-align:middle;border:none;margin:0;padding:0;outline:none}
input:focus,.select:focus,textarea:focus{outline:none}
textarea,select,input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none}
em{font-style:normal}
.hidden{display:none}
hr{line-height:1;height:0.01rem;background:none;border-top:0.01rem dashed #9F9F9F;border-bottom:0.01rem dashed #fff}
img{border:0;margin:0;padding:0}
html{min-height:100%;overflow:auto;position:relative;z-index:1;background:#fff;font-family:"微软雅黑"}
a{text-decoration:none;cursor:pointer}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
h2.mr_4{margin-bottom:0.4rem}
input::-webkit-input-placeholder{color:#b57a65}
input::-moz-placeholder{color:#b57a65}
input:-moz-placeholder{color:#b57a65}
input:-ms-input-placeholder{color:#b57a65}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
a:hover{color:#f00}
body{position:relative;-webkit-text-size-adjust:none;color:#fff;font-size:0.24rem}
html,body{-webkit-tap-highlight-color:transparent;width:100%;height:100%}
.hand{cursor:pointer;transition:all .6s}
.role .content dd .role_name,.note h3,.note h4 span,.part5_title h3 span,.role_info h2{font-family:'Times New Roman',Times,serif}
.swiper-fullscreen{width:100%;height:100%}
.swiper-fullscreen >.swiper-wrapper>.swiper-slide{width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:cover;position:relative}
.swiper-fullscreen .slide1{background-image:url(../images/phone_part01.jpg)}
.swiper-fullscreen .slide2{background-image:url(../images/phone_part02.jpg)}
.swiper-fullscreen .slide3{background-image:url(../images/phone_part03.jpg)}
.swiper-fullscreen .slide4{background-image:url(../images/phone_part04.jpg)}
.swiper-fullscreen .slide5{background-image:url(../images/phone_part05.jpg)}
.swiper-fullscreen .slide6{background-image:url(../images/phone_part06.jpg)}
.swiper-fullscreen .slide7{background-image:url(../images/phone_part07.jpg)}
.swiper-fullscreen .slide8{background-image:url(../images/phone_part08.jpg)}
.swiper-fullscreen .slide9{background-image:url(../images/phone_part09.jpg)}



.part1_logo{z-index:33333;width:7.5rem;height:3.24rem; margin-bottom: 0.8rem;}
.part1_video_play{width:7.5rem;height:1.42rem;overflow:hidden;cursor:pointer;position:absolute;z-index:100;background: url(../images/part1_video_play_bg.png) no-repeat center center;background-size: 100% 100%}
.part1_video_play:hover{background: url(../images/part1_video_play_bg.png) no-repeat center center;background-size: 100% 100%;transform:scale(1.1);transition: all 0.3s;}
.part1_video_play span{display: block;width:7.5rem;height:1.42rem;background: url(../images/part1_video_play_btn.png) no-repeat center center;background-size: 100% 100%;-webkit-animation:circle 5s infinite linear;animation:circle 5s infinite linear;}

.part1_video_btn{position: relative;width:7.5rem;height:1.42rem;display: flex;justify-content: center;margin-bottom: 0.7rem;}


.part1_btn  img{width: 5.52rem;height: 1.18rem;-webkit-animation: magnify .6s linear infinite alternate;	-moz-animation: magnify .6s linear infinite alternate;	animation: magnify .6s linear infinite alternate;}







.part2_register_slogen img{width:7.5rem;height:1.51rem}
.part2_register_text{font-size:0.2rem;color:#471d18;font-family:myFirstFont;width:4.12rem;text-align:center;margin-bottom:0.2rem;margin-bottom:0.1rem}
.ios_tab{height:0.36rem;display:flex;align-content:center}
.ios_tab  lable.one{display:block;height:0.36rem;display:flex;align-content:center}
.ios_tab  lable.gg{width:30%}
.ios_tab  lable.ios{width:30%}
input[type='radio']{width:0.25rem;cursor:pointer;height:0.25rem;vertical-align:middle;opacity:0;color:#fff;position:absolute;top:0;left:0}
.input_style{width:0.25rem;position:relative;height:0.25rem;display:inline-block;color:#fff;margin-right:0.1rem;margin-top:0.05rem}
.radio_bg{background:url(../images/cover_checkbox.png)   no-repeat;background-size:100% 100%}
.radio_bg_check{background:url(../images/cover_checkbox_hover.png) no-repeat;background-size:100% 100%}
input[type="checkbox"]{width:0.16rem;margin-right:0.12rem;cursor:pointer;height:0.16rem;background:url(../images/part2_check.png) no-repeat;background-size:100% 100%}
input[type="checkbox"]:checked{background:url(../images/part2_checked.png) no-repeat;background-size:100% 100%}
.regitser_main{width:5rem}
.register_left_top{width:7.5rem;position:relative;left:0rem}
.register_left_bottom{width:7.5rem;position:relative;left:0rem}
.re_btn img{width:6.58rem;height:0.86rem}
.part2_award_gift img{width:3.63rem;height:4.9rem;margin-bottom:0.2rem;margin-top:0.1rem}
.register_law_tip,.register_checkbox_tip,.register_cbt_tip{color:#fff;font-family:myFirstFont}
.register_checkbox_tip p{height:0.2rem;display:flex;align-items:center}
.register_checkbox_tip{font-size:0.12rem;margin-bottom:0.1rem}
.register_checkbox_tip p a{color:#ffc459;text-decoration:underline}
.register_law_tip,.register_cbt_tip{font-size:0.14rem}
.register_input{height:0.6rem;width:6.58rem;background:rgba(0,0,0,0.8);border:1px solid #968b8e;border-radius:0.1rem;line-height:0.6rem;margin-bottom:0.1rem}
.register_input p{display:flex;justify-content:space-between}
.register_input span{font-size:0.2rem;color:#fff;font-weight:bold;display:inline-block;width:1rem;text-align:center;position:relative}
.text_content1{width:3.2rem;height:0.61rem;line-height:0.61rem;background:none;letter-spacing:0.01rem;font-size:0.14rem;color:#999899;float:left;border:none;overflow:hidden;text-align:left;font-family:myFirstFont}
.register_law_tip_btn{margin-top:0.1rem;margin-bottom:0.15rem}
.ios_tab img{width:auto;height:0.36rem}
.register_input strong.line{width:0.07rem;background:#999899;height:0.02rem;display:inline-block;position:absolute;left:0.8rem;top:0.3rem}
.register_law_tip_btn img,.register_yy_btn img,.part3_regitster img,.part4_hd_btn img{transition:all 0.3s}




.part3_slogen img{width:7.5rem;height:2.69rem;margin-bottom: 0.25rem;}
.part3_title img{width:7.5rem;height:1.68rem;margin-bottom: 0.25rem;}
.part3_left{width:9.6rem;position:absolute;left:0rem;top:0rem}
.dc_bg{display:flex;justify-content:space-between;flex-direction:row;width:10rem;height:3.08rem;border:1p solid #f00}
.dc_20_hover{background:url(../images/part3_dc_img_01.png);background-size:100% 100%;position:relative;width:2.13rem;height:2.62rem}
.dc_50_hover{background:url(../images/part3_dc_img_02.png);background-size:100% 100%;position:relative;width:2.13rem;height:2.62rem}
.dc_70_hover{background:url(../images/part3_dc_img_03.png);background-size:100% 100%;position:relative;width:2.13rem;height:2.62rem}
.dc_100_hover{background:url(../images/part3_dc_img_04.png);background-size:100% 100%;position:relative;width:2.13rem;height:2.62rem}
.dc_150_hover{background:url(../images/part3_dc_img_05.png);background-size:100% 100%;position:relative;width:2.13rem;height:2.62rem}
.dc img{width:2.18rem;height:3.08rem;position:absolute;top:0rem;left:-0.17rem}
.part3_regitster{width:4.17rem;height: 1.33rem;cursor: pointer;z-index: 10;}
.part3_regitster img{width:4.17rem;height: 1.33rem;}


.part_video_img img{width:auto;height:4.4rem;cursor: pointer;}
.part_video_img0{margin-left: 0.1rem;margin-right: 0.1rem;}
.part4_hd_solgen img {width: 5.24rem;height:2.03rem;}
.part4_hd_solgen,.part4_hd_title,.part4_hd_gift{width:7.34rem;display: flex; justify-content:center;}
.part4_hd_title img {width: 5.37rem;height:1.1rem}
.part4_hd_gift img {width: 5.35rem;height:1.4rem}
.part4_hd_text img  {width: 7.34rem;height:2.4rem}
.part4_hd_btn img {width: 7.34rem;height:1.37rem}



.part5_video_slogen{display: flex; justify-content: center;}
.part5_video_slogen img {width:8.66rem;height:2.63rem;margin-bottom: 0.4rem;}

.part6_introduction_title img  {width:auto;height:1.57rem;margin-top: 0.2rem;}
.part_introduction_text  {width:7.5rem;height:9.56rem;background:url(../images/part6_introduction_text.png) no-repeat;  position: relative;
    background-size: 100% 100%;}
.part_video_img{display: flex;justify-content:space-between;}

.part7_role_slogen,.part_video_img{display: flex; width:9.8rem; justify-content: center;}
.part7_role_slogen img {width:9.33rem;height:2rem;margin-bottom: 0.4rem;}
.part7_role_text{font-size:0.24rem;color:#fffdfe;font-family: myFirstFont; display: flex; justify-content: center; width:9.8rem;margin-bottom: 0.2rem;}





.part4_hd_bubble1{position: absolute;top:0;right:-5.73rem;     -webkit-animation-duration: 1.5s;    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;}
.part4_hd_bubble1 img{width:2.68rem;height:1.33rem;transform: rotate(30deg);}
.part4_hd_bubble2{position: absolute;top:0;left:2.41rem;  -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;}
.part4_hd_bubble2 img{width:2.12rem;height:1.54rem;}



.bg-video1{width:100%;height:100vh;display:block;object-fit:cover;position:absolute;top:0;left:0;}
.bg-video{width:100%;height:100vh;display:block;object-fit:cover;position:absolute;top:0;left:0;}
.item{margin-bottom:0.6rem}
.part9_video_title{margin-bottom: 0.3rem;}
.part9_video_title img{width:7.5rem;height:2.03rem}
.item ul{display:flex;margin-bottom:0.4rem;justify-content:space-between;width:10rem}
.item ul li{width:3.08rem;height:1.61rem;overflow:hidden}
.item  ul img{width:3.08rem;height:1.61rem;transition-delay:0s;transition-duration:1s;transition-property:all;transition-timing-function:ease;-moz-transition-delay:0s;-moz-transition-duration:1s;-moz-transition-property:all;-moz-transition-timing-function:ease;-webkit-transition-delay:0s;-webkit-transition-duration:1s;-webkit-transition-property:all;-webkit-transition-timing-function:ease;-o-transition-delay:0s;-o-transition-duration:1s;-o-transition-property:all;-o-transition-timing-function:ease}
.item ul img:hover{transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2)}
.part_video_img0 img,.part_video_img div img{transition:all 0.3s}
.part_video_img0 img:hover,.part_video_img div img:hover,.register_yy_btn img:hover,.register_law_tip_btn  img:hover,.part3_regitster img:hover,.part4_hd_btn img:hover{transform:scale(1.1,1.1);filter:drop-shadow(0px 0px 0.1rem #000);-ms-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1)}
.footer_links{position:relative;z-index:1;margin:0 auto;font-size:0.16rem;height:0.74rem;display:flex;flex-direction:column;bottom:0}
.footer_link{display:flex;justify-content:center}
.footer_link img{width:auto;height:0.3rem}
.footer_bq img{width:4.15rem;height:0.27rem}














.main_show{width:7.5rem;position:relative;height:calc(100vh);}

.part1_logo img,.part1_solgen img,.part1_video_play img,.part1_btn img,.part1_footer img{width:7.5rem;height:auto;}
.part1_footer,.part1_down{position:absolute;left:50%;width:7.5rem;transform: translateX(-50%); display: flex; justify-content: center;}
.part1_footer{bottom: 0;}
.part1_down{bottom: 2rem;}
.part1_down img{width:2.18rem;height:auto;}
.part1_solgen{margin-bottom: 0.8rem;}
.part1_video_play{margin-bottom: 0.6rem;}
.part1_menu img{width:0.54rem;height:0.57rem;}
.fan_top{width:0.92rem;height:1.16rem;}

.fan_top img{width:0.92rem;height:1.16rem;}
.part1_reward{position:absolute;left:0;bottom:0.6rem;width:7.5rem;z-index:110;-webkit-transition:all .5s;transition:all .5s}
.part1_btn{width:7.5rem;padding:0.24rem 0;z-index:110;-webkit-transition:all .5s;transition:all .5s;display:flex;justify-content:center}
.part1_mr{display:block;margin-right:0.55rem;text-align:center}
.part1_ico{position:absolute;bottom:3.51rem;left:0.36rem;background:rgba(15,36,76,0.4);border-radius:0.4rem;width:0.8rem;height:1.86rem;display:flex;flex-direction:column;align-items:center;justify-content:center}
.part1_ico img{width:0.6rem;height:0.6rem}
.part1_ico a:first-child img{margin-bottom:0.1rem}
.part1_menu{position:absolute;top:0.38rem;right:0.62rem;width:0.54rem;height:0.57rem;z-index:10}

.mainShow1{width:7.5rem;display:flex;z-index:10;justify-content:center;align-items:center}
.inner {
    position: relative;
    height: calc(100vh);width:7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.inner .content{position:relative;top:0rem;display:flex;align-items:center;flex-direction:column;width:7.5rem;} 
.inner .btn-play{display:block;width:4.94rem;height:0.91rem;margin-top:0.1rem;background:url("img/btn-play.png") no-repeat 0 0;z-index:1}
.part2_title{width:6.1rem;height:1.22rem;position:absolute;top:0.6rem;left:50%;margin-left:-3.05rem}
.part2_register_btn{width:6.1rem;height:1.43rem;position:absolute;top:1.8rem;left:50%;margin-left:-3.05rem}
/* .dc_bg{width:7.03rem;height:6.43rem;position:absolute;left:0.22rem;bottom:0.3rem;background:url(../images/part2_dc_bg.png)}
.dc img{width:6.5rem;height:1.45rem}
.da_cheng_10{position:absolute;top:0.19rem;left:0.39rem}
.da_cheng_20{position:absolute;top:1.72rem;left:0.39rem}
.da_cheng_40{position:absolute;top:3.24rem;left:0.39rem}
.da_cheng_70{position:absolute;top:4.77rem;left:0.39rem} */
.game_roles .swiper-container{width:100%;height:100%;z-index:1}
.part3_title{width:7.5rem;height:1.3rem;display:flex;justify-content:center;position:absolute;top:0.6rem;left:0rem;z-index:10}
.game_roles{width:7.5rem;height:100%;z-index:1;position:absolute;left:0}
.dock_list{width:7.5rem;height:2rem;position:absolute;left:0rem;bottom:0rem;z-index:1000}
.swiper_dock_list{width:7.5rem;height:1.8rem;background:url(../images/part3_ico_bg.png) no-repeat;z-index:1000;background-size:100% 100%}
.swiper_dock_list li:nth-child(1),.swiper_dock_list li:nth-child(2),.swiper_dock_list li:nth-child(3),.swiper_dock_list li:nth-child(4){width:1.51rem;height:1.5rem;cursor:pointer;z-index:1000}
.swiper_dock_list li:nth-child(1){position:absolute;top:0.06rem;left:0.62rem;z-index:1000}
.swiper_dock_list li:nth-child(2){position:absolute;top:0.06rem;left:2.14rem;z-index:1000}
.swiper_dock_list li:nth-child(3){position:absolute;top:0.05rem;left:3.65rem;z-index:1000}
.swiper_dock_list li:nth-child(4){position:absolute;top:0.06rem;left:5.16rem;z-index:1000}
.swiper_dock_list li img{display:none;width:1.68rem;height:1.68rem}
.swiper_dock_list li .icon.on{display:block}
.role_info{position:absolute;bottom:2rem;left:0.25rem;width:7.5rem;opacity:0;-webkit-transform:translate(-100%,0);transform:translate(-100%,0);-webkit-transition:all 0.3s;transition:all 0.3s;z-index:99;z-index:1}
.role_before{background:url(../images/part3_dock_list_bg.png);width:7.5rem;height:4.46rem;position:absolute;bottom:0rem}
.role_info p{font-size:0.28rem;color:#f7f2f0;line-height:0.46rem}
.role_info h2{font-size:0.5rem;color:#fff;font-family:'Times New Roman',Times,serif;font-weight:bold;margin-bottom:0.3rem;text-transform:uppercase}
.role_info1 p{background:url(../images/part3_info_text_bg.png);width:7rem;height:1.95rem;padding:0.3rem 0.34rem}
.role_info2 p{background:url(../images/part3_info_text_bg1.png);width:7rem;height:1.95rem;padding:0.3rem 0.39rem}
.role_info3 p{background:url(../images/part3_info_text_bg1.png);width:7rem;height:1.95rem;padding:0.3rem 0.33rem}
.role_info4 p{background:url(../images/part3_info_text_bg.png);width:7rem;height:2.41rem;padding:0.3rem 0.33rem}
.role_info1 h2{background:url(../images/part3_info_title_bg-2.png);width:7rem;height:0.89rem}
.role_info2 h2{background:url(../images/part3_info_title_bg-1.png);width:7rem;height:0.89rem}
.role_info3 h2{background:url(../images/part3_info_title_bg-4.png);width:7rem;height:0.89rem}
.role_info4 h2{background:url(../images/part3_info_title_bg-3.png);width:7rem;height:0.89rem}
.role_img{opacity:0;width:7.5rem;height:100%;-webkit-transform:translate(100%,0);transform:translate(100%,0);-webkit-transition:all 0.3s;transition:all 0.3s;z-index:1}
.role_img1{background:url(../images/part3_role_img01.png) center top no-repeat;background-size:cover;z-index:1}
.role_img2{background:url(../images/part3_role_img02.png) center top no-repeat;background-size:cover;z-index:1}
.role_img3{background:url(../images/part3_role_img03.png) center top no-repeat;background-size:cover;z-index:1}
.role_img4{background:url(../images/part3_role_img04.png) center top no-repeat;background-size:cover;z-index:1}
.game_roles .swiper-slide-active .role_info{-webkit-transform:translate(0,0);transform:translate(0,0);-webkit-transition:all 0.3s;transition:all 0.3s;opacity:1;z-index:1}
.game_roles .swiper-slide-active .role_img{opacity:1;-webkit-transform:translate(0,0);transform:translate(0,0);-webkit-transition:all 0.3s;transition:all 0.3s;z-index:1}
.part4_title{width:7.5rem;height:1.3rem;display:flex;justify-content:center;position:absolute;top:0.6rem;left:0rem}
.part4_fw{width:100%;height:100%;object-fit:cover;position:absolute;left:0rem;top:1rem;z-index:1}
.role{width:7.5rem;margin:0 auto;z-index:6;height:100%}
.role dl{width:100%;height:100%}
.role .content dd{position:relative;width:7.5rem;height:100%;display:none}
.role .content dd:first-child{display:block}
.role .content dd img.role_people{position:absolute;top:0rem;right:0rem;width:auto;height:100%;object-fit:cover}
.role_name{width:7rem;text-align:center}
.role_name h2{color:#fff;font-family:'Times New Roman',Times,serif;font-size:0.54rem;text-transform:uppercase;font-weight:bold;margin-bottom:0.2rem;text-align:center;text-shadow:0 0 0.1rem #69e0ff,0 0 0.2rem #69e0ff,0 0 0.4rem #69e0ff}
.note h3{font-size:0.3rem;font-weight:normal;text-align:center;margin-bottom:0.2rem}
.note h3 span{margin-left:0.2rem;margin-right:0.2rem}
.role .note{width:7rem;height:1.95rem;color:#fff;position:absolute;left:0.25rem;bottom:2.67rem;background:url(../images/part4_info_text_bg.png);display:flex;align-items:center;flex-direction:column;justify-content:center}
.note p{font-size:0.32rem;line-height:0.5rem;margin-bottom:0.15rem}
.role .list{position:absolute;width:6rem;bottom:0.5rem;z-index:10;height:1.75rem;left:0.75rem}
.role .list .swiper-container{height:1.75rem;margin:0 auto;padding-left:0.05rem;display:flex;justify-content:center;align-items:center}
.role .list .swiper-slide{display:flex;align-items:center}
.role .list .swiper-slide-active{margin-right:0.1rem}
.role .list .swiper-button-prev,.role .list .swiper-button-next{width:0.38rem;height:0.38rem;font-size:0rem}
.role .list .swiper-button-next:after,.role .list .swiper-button-prev:after{font-size:0rem}
.role .list .swiper-button-prev{width:0.49rem;height:0.49rem;background:url(../images/par4_prev.png) no-repeat 0 0;background-size:100% auto;position:absolute;top:50%;left:-0.7rem;margin-top:-0.19rem}
.role .list .swiper-button-next{width:0.49rem;height:0.49rem;background:url(../images/par4_next.png) no-repeat 0 0;background-size:100% auto;position:absolute;top:50%;right:-0.7rem;margin-top:-0.19rem}
.role .list .swiper-slide img{width:1.17rem;height:1.17rem;margin:0 0.23rem}
.role .list .swiper-slide-active img{transform:scale(1.15);margin-right:0.2rem;filter:drop-shadow(0rem 0rem 0.04rem #949a5b)}
.role .list .swiper-slide-active::before{content:'';position:absolute;top:0.02rem;left:-0.06rem;width:1.75rem;height:1.75rem;background:url(../images/part4_swier_hover.png);background-size:100% 100%;background-position:center center}
.flower_text_swiper{width:100%;height:100%}
.flower_text_swiper .swiper-slide{font-size:0.18rem;height:auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.flower_text_swiper .swiper-scrollbar{position:absolute;right:0.03rem;top:8%;display:block;z-index:50;width:0.18rem;background:rgba(0,0,0,0.6);height:90%;border-radius:0rem}
.flower_text_swiper .swiper-scrollbar-drag{height:100%;position:relative;width:0.18rem;background:rgba(255,252,237,1);border-radius:0.4rem;left:0;top:0}
.main_world_bg{width:7.5rem;height:7.15rem;position:absolute;left:0rem;bottom:1rem;background:url(../images/part5_world_bg.png)}
.part5_title{width:100%;height:1rem;position:absolute;left:0rem;top:0.5rem}
.part5_title h3{height:0.66rem;font-size:0.4rem;justify-content:center;align-items:center;display:flex;color:#fff;font-weight:normal}
.part5_title h3::before,.part5_title h3::after{content:'';width:1.98rem;height:0.19rem;background:url(../images/list_title_ico.png)}
.part5_title h3::after{transform:rotate(180deg)}
.part5_title h3 span{margin:0 0.3rem}
.main{width:100%;position:absolute;bottom:0.8rem}
.main .main_bg{width:100%}
.main .section h2{height:1.25rem;text-align:center}
.section1{height:5.1rem;position:relative;bottom:0rem}
.section1 .infoList{width:100%;height:5.1rem;padding-top:0.5rem;position:absolute;right:0;bottom:0;box-sizing:border-box;-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}
.section1 .infoList .info-wrap{height:100%}
.section1 .infoList .info_item{width:6.12rem;height:3.82rem;background:rgba(255,255,255,0.35);padding:0.1rem;transition:all 0.3s}
.section1 .infoList .info_item .qb_img{width:5.92rem;height:3.62rem;position:relative}
.section1 .infoList .info_item .qb_img img{width:5.92rem;height:3.62rem;position:absolute;top:0rem;left:0rem;z-index:2}
.section1 .infoList .info_item .qb_img::before{content:'';width:3.96rem;height:2.49rem;position:absolute;top:0;left:0}
.section1 .infoList .info_item .qb_img a{width:3.96rem;height:2.49rem;position:absolute;top:0.33rem;left:0.34rem;z-index:3}
.section1 .infoList .info_prev2,.section1 .infoList .info_next2{width:0.66rem;cursor:pointer;z-index:111}
.section1 .infoList .info_prev2.swiper-button-disabled,.section1 .infoList .info_next2.swiper-button-disabled{-webkit-opacity:.6;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60);cursor:default}
.section1 .infoList .info_prev2 img,.section1 .infoList .info_next2 img{width:100%}
.section1 .infoList .info_prev2{position:absolute;bottom:2.53rem;left:3%;z-index:99}
.section1 .infoList .info_next2{position:absolute;bottom:2.53rem;right:3%;z-index:99}
.section1 .info_prev{position:absolute;top:36%;left:3.48958333%}
.section1 .info_next{position:absolute;top:36%;right:3.48958333%}
.info_prev,.info_next,.role_prev,.role_next,.ts_prev,.ts_next{width:0.42rem;height:0.42rem;background-repeat:no-repeat;cursor:pointer;z-index:12}
.swiper-fullscreen .slide6{background-image:url(../images/phone_part06.jpg);height:8.69rem}
.swipera{width:6.82rem;height:5.12rem;position:absolute;bottom:2rem;left:0.34rem;z-index:1;border-radius:0.1rem}
.swipera .swiper-slide img{width:6.82rem;height:5.12rem}
.swipera .swiper-pagination-bullet{width:0.38rem;height:0.38rem;display:inline-block;background:url(../images/part6_ico.png);background-size:100% 100%;margin-right:0.15rem;opacity:1}
.swipera .swiper-pagination-bullet-active{width:0.38rem;height:0.38rem;background:url(../images/part6_ico_active.png);background-size:100% 100%}
.swipera .swiper-pagination{position:absolute;width:2.9rem;left:50%;margin-left:-1.5rem;top:5.5rem;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}
.masked{background:rgba(0,0,0,0.8);position:fixed;width:100%;height:100%;left:0;top:0;z-index:110;display:none}

.tc_success_big{width: 12rem;z-index:1; height:6.64rem;position: fixed;color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);z-index:120; transition: all 0.3s; display: none;}
.tc_main_big{width: 12rem;z-index:1; height:6.64rem;background:url(../images/part2_success_bg.png)  no-repeat;background-size:100% 100%;}
/* .closed{position: absolute;top: -0.07rem;right:0.7rem; z-index:6;} */
.closed img{transition: all 0.3s;width: 0.26rem; height: 0.26rem ;}
.closed img:hover{transform:rotate(90deg);}
.tc_zan {position: absolute;left:6.5rem;top:2.5rem; text-align: center;}
.tc_zan img{width:3.92rem;height:1.03rem;}
.tc_tip {position: absolute;left:6.3rem;top:4.2rem;}
.tc_tip img{width:4.34rem;height:0.81rem;}
.tc_store{position: absolute; top:5rem;width:5rem;left:6.1rem; display: flex; justify-content: center;}
.tc_store a img{width:1.96rem;height:0.76rem;}
.tc_share_text{position:absolute;left:6.5rem;top:1.63rem;width:4.2rem;height:0.58rem;position: relative;line-height: 0.58rem;}
.tc_share_input {  display: table-cell;  vertical-align: middle;  resize: none;  font-size: 0.2rem;  color: #412310; padding-left:0.1rem; width:3.3rem; border: none;  overflow: hidden;   word-break: break-all;   background: none; height: 0.58rem;}
.tc_zan p{color:#352919;font-size:0.2rem; font-weight: 500;}

.tc_zan iframe {width:3.8rem;height:1.3rem;}

.tc_ma_download2 button { cursor: pointer;position: absolute; border:none; top: 0.1rem; right: 0.2rem; width: 0.66rem; height: 0.33rem; display: block;  background: #352919; border-radius: 0.05rem;line-height: 0.33rem; text-align: center;  color: #dbccb5;  font-size: 0.18rem;}
.tc_ma_download2 button:hover{  background: #ff6664;}


.part_video_img1{margin-right: 0.1rem;}
.tc_text_tip{width: 11.57rem; height:6.77rem;position: fixed;color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);z-index:120; transition: all 0.3s; display: none;}
.tc_text_tip_bg{width: 12rem;z-index:1; height:6.64rem;background:url(../images/part2_tc_text_bg.png)  no-repeat;background-size:100% 100%; position: relative;}
.text_wrap{font-size:0.3rem; font-family: Noto Sans KR,Apple SD Gothic Neo,Malgun Gothic,sans-serif;color:#63626d;font-weight: bold;text-align: center;
width:100%;height:92%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.tc_text_tip_bg .closed {position: absolute;top: 0.8rem;right:1.7rem; z-index:6;}
.closed img{transition: all 0.3s;width: 0.29em; height: 0.3rem ;}



.btn_wrap{font-size:0.24rem; font-family: Noto Sans KR,Apple SD Gothic Neo,Malgun Gothic,sans-serif;color:#63626d;font-weight: bold;text-align: center;
    width:100%;height:92%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
    .btn_wrap h4{margin-bottom: 0.3rem;}
    .btn_wrap h6{margin-top: 0.4rem;}



    .tc_msg_bg{width: 12rem;z-index:1; height:6.64rem;background:url(../images/tc_msg_bg.png)  no-repeat;background-size:100% 100%; position: relative;}
    .tc_main_big .closed,  .tc_msg_bg .closed {position: absolute;top: 0.8rem;right:1rem; z-index:6;}





.msg_wrap{ font-family: Noto Sans KR,Apple SD Gothic Neo,Malgun Gothic,sans-serif;color:#63626d;text-align: center;position:absolute;top:53%;left:50%;transform:translate(-50%,-50%);
        width:70%;height:70%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.msg_wrap h4{font-size: 0.24rem; margin-bottom: 0.1rem;font-weight: bold;}
.msg_wrap p{font-size: 0.14rem;margin-bottom: 0.2rem;font-weight: bold;}
.msg_wrap h5{font-size: 0.18rem;margin-bottom: 0.2rem;font-weight: bold;}















@-webkit-keyframes circle{0%{ transform:rotate(0deg); }100%{ transform:rotate(360deg); }}
@keyframes circle{0%{ transform:rotate(0deg); }100%{ transform:rotate(360deg); }}
.bgm_icon{position: absolute;top: 0.3rem;left:0.3rem;width:0.77rem;height:0.77rem; cursor: pointer; z-index: 10;}
#bgm_icon{width:0.77rem;height:0.77rem;}
.ing{animation: circleAn 3s infinite linear;}
@keyframes circleAn {
  100% {transform:rotate(720deg);}
}















.closed img{transition:all 0.3s;width:0.47rem;height:0.47rem}
.closed img:hover{transform:rotate(90deg);cursor:pointer}
.btn1{width:5rem;display:flex;justify-content:center;position:absolute;top:5.36rem;left:0rem;height:0.89rem}
.btn1 button{width:4.62rem;height:0.89rem;border:1px solid #b5b5b5;background:#fce23a;border-radius:0.6rem;font-size:0.46rem;color:#3b4354;display:block;font-weight:bold;font-family:'Times New Roman',Times,serif;line-height:0.89rem}
.tc_register{width:7.15rem;min-height:4.55rem;position:fixed;background:rgba(255,255,255,0.9);color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);z-index:120;transition:all 0.3s;display:none}
.tc_main_big{width:7.15rem;height:7.75rem}
.tc_title{width:100%;height:1rem;background:#fff;position:relative;text-align:center;line-height:1rem;color:#000}
.tc_title .closed{position:absolute;top:0.15rem;right:0.3rem;z-index:6}
.tc_title .closed img{width:0.47rem;height:0.47rem}
.tc_title p{font-size:0.48rem;font-family:'Times New Roman',Times,serif;color:#181818;font-weight:bold}
.register{width:5.3rem;height:6.75rem;text-align:center;display:flex;flex-direction:column;position:relative;margin:0 auto}
.register_main{text-align:left;color:#000}
.register_choose{height:0.41rem;margin-bottom:0.2rem;width:3.4rem;margin-left:-1.7rem;display:flex;justify-content:space-between;position:absolute;left:50%;top:0.2rem}
.register_choose li{position:relative;width:1.5rem;height:0.48rem;line-height:0.48rem;color:#000;float:left;font-size:0.32rem}
.register_choose li:first-child::before{position:absolute;left:0.13rem;top:0.11rem;background:url(../images/tan_ico.png) no-repeat;width:0.27rem;height:0.27rem;content:"";background-size:100% 100%}
.register_choose li:last-child::before{position:absolute;left:-0.2rem;top:0.11rem;background:url(../images/tan_ico.png) no-repeat;width:0.27rem;height:0.27rem;content:"";background-size:100% 100%}
.register_main p{font-size:0.32rem;color:#181818;margin-bottom:0.15rem}
.register_choose li.active:first-child::before{background:url(../images/tan_ico_active.png) no-repeat;position:absolute;left:0.13rem;top:0.11rem;width:0.27rem;height:0.27rem;background-size:100% 100%}
.register_choose li.active:last-child::before{background:url(../images/tan_ico_active.png) no-repeat;position:absolute;left:-0.2rem;top:0.11rem;width:0.27rem;height:0.27rems;background-size:100% 100%}
.fullpage{height:4rem;border:5px solid #00f;position:relative}
.part5_img{height:100%}
.prev_scroll,.next_scroll{position:absolute;top:50%;font-size:0}
.prev_scroll{left:6rem;width:0.7rem;height:0.7rem;background:url(../images/part6_prev.png) no-repeat;background-position:0 0;background-size:100% 100%}
.next_scroll{right:6rem;width:0.7rem;height:0.7rem;background:url(../images/part6_next.png) no-repeat;background-position:0 0;background-size:100% 100%}
.select_box_ios,.select_box_android{position:absolute;left:0;top:0.9rem;width:5.3rem;height:0.65rem}
.select_02 select{position:absolute;top:0;border-radius:0.05rem;font-size:0.26rem;color:#181818;width:5.3rem;line-height:0.65rem;background-color:rgba(255,255,255,1);border:1px solid #a0a0a0;z-index:4;padding-left:0.26rem;height:0.65rem;background:url(../images/regisiter_ico.png) no-repeat scroll 5rem center #fff}
.select_list option{font-size:0.26rem;padding-top:0.1rem;padding-bottom:0.1rem;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;width:5.3rem;padding-left:0.26rem;border-radius:0}
.input1{height:0.8rem;width:5.3rem;text-align:center;border:1px solid #a0a0a0;border-radius:0.02rem;background:rgba(255,255,255,0.7);margin-bottom:0.3rem;position:absolute;top:2.4rem;left:0rem}
.text_content1{width:5.3rem;height:0.8rem;padding-left:0.26rem;color:rgba(24,24,24,0.5);line-height:0.8rem;background:none;font-size:0.26rem;float:left;border:none;overflow:hidden;text-align:left}
.yzm input{height:0.8rem;width:3rem;border:1px solid #a0a0a0;border-radius:0.02rem;background:rgba(255,255,255,0.7);margin-bottom:0.3rem}
.text_content3{width:3rem;height:0.8rem;padding-left:0.26rem;color:rgba(24,24,24,0.5);line-height:0.8rem;background:none;font-size:0.26rem;float:left;border:none;overflow:hidden;text-align:left}
.no{display:none}
.yzm{width:5.3rem;display:flex;justify-content:space-between;height:0.8rem;position:absolute;top:3.5rem;left:0rem}
.yzm_btn{background:#3b4354;border:1px solid #a0a0a0;width:2.2rem;font-size:0.19rem;text-align:center;line-height:0.8rem;color:#fff}
.yzm_btn a{color:#fff}
.choose_phone{width:5rem;height:0.8rem;line-height:0.8rem;display:flex;align-items:center;position:absolute;top:1.6rem;left:0rem;color:#000}
.choose_phone h6{height:0.15rem;line-height:0.15rem}
.choose_phone h6 lable{display:flex;height:0.15rem;width:auto;justify-content:space-between;font-size:0.26rem;font-weight:normal;margin-right:0.3rem;align-items:center;float:left;line-height:0.2rem}
.choose_phone span{font-size:0.26rem}
.choose_phone input{width:0.25rem;height:0.25rem;vertical-align:baseline}
*{padding:0;margin-left:0}
input[type='radio'],input[type='checkbox']{width:0.25rem;height:0.25rem;background:url(../images/tan_ico.png) no-repeat;vertical-align:middle;opacity:0;background-size:100% 100%;cursor:pointer}
.input_style{background:url(../images/tan_ico.png) no-repeat;width:0.25rem;height:0.25rem;display:inline-block;background-size:100% 100%;margin-right:0.1rem}
.radio_bg_check{background:url(../images/tan_ico_active.png) no-repeat;width:0.25rem;height:0.25rem;display:inline-block;background-size:100% 100%}
.checkbox_bg_check{background:url(../images/tan_ico_active.png) no-repeat;width:0.25rem;height:0.25rem;display:inline-block;background-size:100% 100%}
.tips{position:absolute;top:4.53rem;left:0rem;width:5.3rem;height:0.55rem;overflow:hidden}
.tips p{font-size:0.17rem;color:#181818;margin-bottom:0rem}
.tips p a{color:#f00}
.tips div:first-child{width:0.15rem;float:left;height:0.6rem;margin-right:0.2rem;padding-top:0.05rem}
.tips input{width:0.15rem;height:0.15rem;margin:0;padding:0;vertical-align:top}
.video_box,.role_box{z-index:100;width:100%;position:fixed;height:100%;left:0;top:0;display:none}
.section1 .infoList .info_bar{width:50%;height:0.02rem;position:absolute;bottom:0.24rem;left:50%;background:#5b8496}
.info-wrap li.swiper-slide-active .point{opacity:1}
.section1 .infoList .info_bar .swiper-scrollbar-drag{height:100%;background:#7fb5d7;border-radius:0;width:1.89rem;height:0.15rem;border-radius:0.2rem;left:0rem;position:absolute;top:-0.06rem}
.list_wrap{position:relative;width:100%;height:100%}
.list_box h2{height:0.66rem;font-size:0.6rem;justify-content:center;align-items:center;margin-bottom:0.6rem;display:flex;color:#fff;font-family:'Times New Roman',Times,serif;text-shadow:0.02rem 0.01rem 0.02rem #092c66}
.list_box h2::before,.list_box h2::after{content:'';width:1.98rem;height:0.19rem;background:url(../images/list_title_ico.png);background-size:100% 100%}
.list_box h2::after{transform:rotate(180deg)}
.list_box h2 span{margin:0 0.3rem}
.list_box{position:absolute;left:50%;width:7rem;margin-left:-3.5rem;top:1.35rem;bottom:1.35rem}
.news_main{width:6.82rem;margin:0 auto;display:flex;height:calc(100% - 1.26rem)}
.news_right{width:100%;background:rgba(6,11,20,0.6);position:relative}
.news_tab_menu{display:flex;justify-content:center;width:100%;height:0.84rem;line-height:0.84rem;padding:0 0.19rem;background:#0c1725;padding-left:0.4rem}
.news_tab_menu div{color:#fff;position:relative;font-size:0.3rem;margin-right:0.5rem;font-family:'Times New Roman',Times,serif}
.news_tab_menu div.active{color:#fef649}
.news_tab_item{padding-bottom:0.12rem;cursor:pointer;position:relative}
.news_tab_links{display:none}
p.news_date{color:#909a9e;font-size:0.24rem}
.news_item{width:6.2rem;margin:0 auto;color:#fff;font-size:0.18rem;box-sizing:content-box;height:calc(100% / 9);border-bottom:0.01rem solid rgba(255,255,255,0.1);font-family:Verdana,Geneva,Tahoma,sans-serif}
.news_tab_links a{width:100%;height:100%;display:flex;justify-content:space-between;align-items:center;color:#fff}
.news_title{width:4.6rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:0.3rem}
.news_tab_more{display:flex;justify-content:center;align-items:center;font-size:0.16rem;width:6.2rem;margin:0.35rem auto 0rem}
.news_tab_more a:first-child{margin-right:0.4rem}
.news_tab{height:100%}
.news_box{height:calc(100% - 2rem)}
.news_tab_links{height:100%}
.news_info{position:absolute;left:50%;width:14rem;margin-left:-7rem;top:2rem;bottom:1.8rem}
.news_info{display:flex;padding:0 10%;flex-direction:column;font-size:0.2rem;color:rgba(172,104,80,1)}
.news_info .note{flex:1;padding:0.27rem 0.27rem 0.27rem 0.47rem;background:rgba(255,255,255,0.35);overflow-y:auto}
.news_info .biaoti{text-align:center;font-size:0.42rem;margin-bottom:0.48rem}
.news_info .title{font-size:0.34rem;padding-bottom:0.1rem}
.img_swiper .swiper-pagination{width:100%;bottom:0.2rem}
.img_swiper .swiper-pagination{position:absolute;width:3.16rem;left:4.3rem;bottom:0rem;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}
.img_swiper .swiper-pagination-bullet{width:0.23rem;height:0.23rem;display:inline-block;background:url(../images/list_ico.png);background-size:100% 100%;margin-right:0.15rem;opacity:1}
.img_swiper .swiper-pagination-bullet-active{width:0.23rem;height:0.23rem;background:url(../images/list_ico_active.png);background-size:100% 100%}
.no{display:block}
.fan_top{position:fixed;bottom:35%;right:0.1rem;z-index:10}